<div class="wrapper">
  <div
    class="page-header page-header-small settings-background"
    style="background-image: url('./assets/img/lp/back-image.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <h1 class="title">About us</h1>
        <h5 class="description">
          誰しもが自分の人生の「主人公・ヒロイン」でありたい。
        </h5>
        <h5 class="description">
          努力する人・企業が最高に輝ける環境を私たちは全力で創り提供しています。
        </h5>
      </div>
    </div>
  </div>

  <!--     *********    SKILL SHARING PLATFORM     *********      -->
  <div class="section section-content">
    <div class="container">
      <div class="row">
        <div class="text-center ml-auto mr-auto">
          <h2 class="title">Services</h2>
          <h6 class="category">商品サービス一覧</h6>
          <div class="space-top"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="image-container">
            <img class="img" src="./assets/img/lp/phone-top.png" />
            <img
              class="area-img add-animation"
              src="./assets/img/lp/dentist.jpg"
            />
            <img
              class="info-img add-animation"
              src="./assets/img/lp/ipad-revenue.jpg"
            />
          </div>
        </div>

        <div class="col-md-5 ml-auto mr-auto">
          <div class="section-description">
            <h3 class="title">
              貴社ブランド展開可能なクラウド型予約プラットフォーム
            </h3>
            <h6 class="category">クラウド型WEB予約プラットフォーム</h6>
            <h5 class="description">
              <p>
                あらゆるサービスの出品に対応。カレンダーの空き状況から予約したり、利用者へ前日リマインド・キャンセル受付・予約日時変更受付までシステムが自動で対応します。
              </p>
              <p>
                管理者側は全商品をまとめて管理可能。もちろん各商品毎に管理者を設定することもできます。
              </p>
            </h5>
            <!-- <div class="space-top"></div>
            <div class="row">
              <div class="col-md-10">
                <a
                  class="btn btn-block btn-lg btn-primary"
                  [routerLink]="['/online-booking']"
                >
                  <i class="fa fa-search"></i> コンセプトページを見る
                </a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    RPA SYSTEM     *********      -->
  <div class="section section-components section-gray">
    <div class="space-top"></div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="image-container">
          <img
            class="components-macbook"
            src="./assets/img/lp/laptop-automation.png"
            alt=""
          />
          <img
            class="table-img"
            src="./assets/img/presentation-page/reporting.jpg"
            alt=""
          />
          <img
            class="share-btn-img"
            src="./assets/img/presentation-page/login-btn.png"
            alt=""
          />
          <img
            class="coloured-card-btn-img"
            src="./assets/img/presentation-page/coloured-card-with-btn.png"
            alt=""
          />
          <img
            class="social-img"
            src="./assets/img/presentation-page/social-row.png"
            alt=""
          />
          <img
            class="pin-btn-img"
            src="./assets/img/presentation-page/pin-btn.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-10 col-lg-4 ml-auto mr-auto">
        <div class="container basic-container">
          <h3 class="title">平均80%のバックオフィス業務を自動化できます</h3>
          <h6 class="category">バックオフィス業務自動化システム</h6>
          <h5 class="description">
            <p>
              ITテクノロジーの力で日常業務の多くを自動化し、組織全体の仕事の生産性を飛躍的に向上させられます。
            </p>
            <p>
              多くの場合、導入６ヶ月以内に投資金額以上の効果を実感いただけます。
            </p>
            <p>
              現状の業務工程をヒアリングしながらプロのITコンサルタントが自動化まで実行支援しますので、ITに苦手意識のある組織でも安心してご導入いただけます。
            </p>
            <p>従業員3名以上の組織から導入効果を期待できます。</p>
          </h5>
          <!-- <div class="space-top"></div>
          <div class="row">
            <div class="col-md-10">
              <a
                class="btn btn-block btn-lg btn-primary"
                [routerLink]="['/rpa']"
              >
                <i class="fa fa-search"></i> 詳細はこちら
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!--     *********    TESTIMONIALS     *********      -->
  <div class="section section-team cd-section team-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Happy clients</h2>
          <h6 class="category">お客様の声</h6>
          <div class="space-top"></div>
          <h5 class="description">
            ご導入させていただいている企業様に感想をお伺いしました。
          </h5>
        </div>
      </div>

      <div class="row">
        <!-- <div class="col-md-4 ml-auto"> -->
        <div class="col-md-4 ml-auto mr-auto">
          <a href="https://tsubaki-musicschool.com/" target="_blank">
            <div class="card card-profile">
              <div class="card-body">
                <div class="card-avatar">
                  <img src="assets/img/clients/tsubaki-music.jpg" alt="..." />
                </div>
                <p class="card-description text-center">
                  月1000件以上発生する経費申請を自動化システムの導入により簡単に集計できるようになりました。
                  集計作業のためにかかる時間は約20％ほどになり、管理のしやすさを感じています。
                  システム化により申請する側にとっても快適になったため、ミスや申請漏れが大幅に改善しました。
                </p>
                <br />
                <h4 class="card-title">椿音楽教室 様</h4>
                <h6 class="card-category">マンツーマン音楽教室</h6>
              </div>
              <div class="card-footer text-center">
                <!-- 
                  <a
                    href="javascript:void(0)"
                    class="btn btn-just-icon btn-dribbble mr-1"
                    ><i class="fa fa-dribbble"></i>
                  </a> 
                -->
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    CALL TO ACTION     *********      -->
  <div class="section section-icons">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="icons-nucleo">
            <i class="first-left-icon nc-icon nc-planet add-animation"></i>
            <i class="second-left-icon nc-icon nc-touch-id add-animation"></i>
            <i
              class="third-left-icon nc-icon nc-lock-circle-open add-animation"
            ></i>
            <i class="fourth-left-icon nc-icon nc-tap-01 add-animation"></i>
            <i class="fifth-left-icon nc-icon nc-zoom-split add-animation"></i>
            <i class="sixth-left-icon nc-icon nc-atom add-animation"></i>
            <i
              class="seventh-left-icon nc-icon nc-favourite-28 add-animation"
            ></i>
            <i class="eighth-left-icon nc-icon nc-settings add-animation"></i>
            <i class="ninth-left-icon nc-icon nc-bulb-63 add-animation"></i>
            <i class="tenth-left-icon nc-icon nc-circle-10 add-animation"></i>
          </div>
        </div>
        <div class="space-top"></div>
        <div class="col-md-6 text-center">
          <h2 class="title revealOnScroll">詳細はこちら</h2>
          <br />
          <a
            href="/assets/pdf/ebook.pdf"
            download
            class="btn btn-primary btn-lg"
          >
            <i class="fa fa-search"></i> パンフレットをダウンロードする
          </a>
          <br />
          <br />
          <a
            [routerLink]="['/form/contactus']"
            class="btn btn-primary btn-link btn-lg"
          >
            お問い合わせはこちら
          </a>
        </div>
        <div class="col-md-3">
          <div class="icons-nucleo">
            <i class="first-right-icon nc-icon nc-bank add-animation"></i>
            <i
              class="second-right-icon nc-icon nc-tag-content add-animation"
            ></i>
            <i class="third-right-icon nc-icon nc-bell-55 add-animation"></i>
            <i class="fourth-right-icon nc-icon nc-tv-2 add-animation"></i>
            <i class="fifth-right-icon nc-icon nc-map-big add-animation"></i>
            <i class="sixth-right-icon nc-icon nc-badge add-animation"></i>
            <i
              class="seventh-right-icon nc-icon nc-simple-add add-animation"
            ></i>
            <i class="eighth-right-icon nc-icon nc-trophy add-animation"></i>
            <i class="ninth-right-icon nc-icon nc-hat-3 add-animation"></i>
            <i class="tenth-right-icon nc-icon nc-key-25 add-animation"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
