<div
  class="testimonials-1 section-image"
  style="background-image: url('assets/img/sections/uriel-soberanes.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-center">
        <h2 class="title">お悩み内容</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-testimonial">
          <div class="card-icon">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <p class="card-description">
              半年前に東京に上京してきました。東京での生活に慣れてきたのですが、コロナでなかなか友達が作れなくて困っています。皆さんはどのように新しい友達を見つけられていますか？
            </p>
            <div class="card-footer">
              <h4 class="card-title">山下 空</h4>
              <h6 class="card-category">@sora-yamashita</h6>
              <div class="card-avatar">
                <a href="javascript:void(0)">
                  <img class="img" src="assets/img/faces/sample.jpg" />
                </a>
              </div>
              <div class="space-top"></div>
              <a class="btn btn-warning btn-round">
                <i class="nc-icon nc-send"></i> 直接メッセージを送る
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container container-tim">
    <div class="title" id="comments">
      <h3>コメント欄</h3>
    </div>
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="media-area">
          <h3>ベストアンサー</h3>
          <div class="media">
            <a class="pull-left" href="javascript:void(0)">
              <div class="avatar">
                <img
                  class="media-object"
                  src="assets/img/faces/sample2.jpg"
                  alt="..."
                />
              </div>
            </a>
            <div class="media-body">
              <h5 class="media-heading">鈴木 太郎</h5>
              <div class="pull-right">
                <h6 class="text-muted">2021/3/30, 11:53 AM</h6>
                <a
                  href="javascript:void(0)"
                  class="btn btn-info btn-link pull-right"
                >
                  <i class="fa fa-reply"></i> 返信する</a
                >
              </div>
              <p>
                僕も上京したての頃なかなか職場以外の交友関係を作れずに苦労しました。
                コロナ前は、勇気を出して色々なイベントに顔を出すことで少しずつ交友関係が広がりしましたが、
                今の場合は直接人と会いづらいので、どこかのオンラインサロンなどに入ると、コミュニティの中で色々人脈が作っていけると思います。
              </p>
              <p>ぜひ頑張ってみてください！</p>

              <div class="media-footer">
                <a href="javascript:void(0)" class="btn btn-danger btn-link">
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i> 243
                </a>
                <a href="javascript:void(0)" class="btn btn-link">
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i> 2
                </a>
                <a href="javascript:void(0)" class="btn btn-link">
                  フォロワー &middot; 3
                </a>
              </div>

              <div class="media media-post">
                <a class="pull-left author" href="javascript:void(0)">
                  <div class="avatar">
                    <img
                      class="media-object"
                      alt="64x64"
                      src="assets/img/faces/sample.jpg"
                    />
                  </div>
                </a>
                <div class="media-body">
                  <textarea
                    class="form-control"
                    placeholder="的確なアドバイスありがとうございます。ベストアンサーにさせていただきます！"
                    rows="4"
                  ></textarea>
                  <div class="media-footer">
                    <a href="javascript:void(0)" class="btn btn-info pull-right"
                      >返信する</a
                    >
                  </div>
                </div>
              </div>
              <!-- end media-post -->
            </div>
          </div>
          <!-- end media -->

          <!--  Comment                    -->
          <div class="media">
            <a class="pull-left" href="javascript:void(0)">
              <div class="avatar">
                <img
                  class="media-object"
                  alt="Tim Picture"
                  src="assets/img/faces/sample3.png"
                />
              </div>
            </a>
            <div class="media-body">
              <h5 class="media-heading">木村 太郎</h5>
              <div class="pull-right">
                <h6 class="text-muted">2021/3/29, 11:54 AM</h6>
                <a
                  href="javascript:void(0)"
                  class="btn btn-info btn-link pull-right"
                >
                  <i class="fa fa-reply"></i> 返信する</a
                >
              </div>

              <p>
                Youtubeなどで動画配信してみるのはいかがでしょう？直接的ではないかもですが、フォロワーさんを増やすことが趣味になったり、応援してくれるファンが着くと寂しさを拭えるかもしれません！
              </p>

              <div class="media-footer">
                <a href="javascript:void(0)" class="btn btn-link">
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i> 243
                </a>
                <a href="javascript:void(0)" class="btn btn-primary btn-link">
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i> 2
                </a>
                <a href="javascript:void(0)" class="btn btn-link">
                  フォロワー &middot; 3
                </a>
              </div>

              <!-- end media -->
            </div>
          </div>
          <!-- end media -->
          <div class="media">
            <a class="pull-left" href="javascript:void(0)">
              <div class="avatar">
                <img
                  class="media-object"
                  alt="64x64"
                  src="assets/img/faces/sample4.png"
                />
              </div>
            </a>
            <div class="media-body">
              <h5 class="media-heading">鈴木 花子</h5>
              <div class="pull-right">
                <h6 class="text-muted">2021/4/5, 11:57 AM</h6>
                <a
                  href="javascript:void(0)"
                  class="btn btn-info btn-link pull-right"
                >
                  <i class="fa fa-reply"></i> 返信する</a
                >
              </div>
              <p>
                私の場合は料理教室に通い始めたら自然と友達が増えました。趣味友達から作っていくのが良いかもしれません。
              </p>
              <p>最初は勇気が入りますが頑張ってください！</p>

              <div class="media-footer">
                <a href="javascript:void(0)" class="btn btn-link">
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i> 243
                </a>
                <a href="javascript:void(0)" class="btn btn-link">
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i> 2
                </a>
                <a href="javascript:void(0)" class="btn btn-link">
                  フォロワー &middot; 3
                </a>
              </div>
            </div>
          </div>
          <!-- end media -->
          <br />
          <div class="pagination-area pagination-primary">
            <!-- <ngb-pagination
              [collectionSize]="50"
              [(page)]="page"
              aria-label="Default pagination"
            ></ngb-pagination> -->
          </div>
        </div>
        <!-- end media-area -->
      </div>
      <!-- end col-md-8 -->
    </div>
    <!-- end row -->
  </div>
</div>
<div class="section section-gray">
  <div class="container tim-container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h3 class="text-center">お悩みにアドバイスする</h3>
        <div class="media media-post">
          <a class="author" href="javascript:void(0)">
            <div class="avatar">
              <img
                class="media-object"
                alt="64x64"
                src="assets/img/faces/sample3.png"
              />
            </div>
          </a>
          <div class="media-body">
            <textarea
              class="form-control border-input"
              placeholder="お悩み相談に乗ってあげることで1ポイントが得られます。ベストアンサーに選ばれるとポイント３倍。"
              rows="6"
            ></textarea>
            <div class="media-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-info btn-wd pull-right"
                >投稿する</a
              >
            </div>
          </div>
        </div>
        <!-- end media-post -->
      </div>
    </div>
    <!-- end row -->
  </div>
</div>
