<section id="RentalIncoming">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/lp/back-image.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-50"></div>
        <div class="motto text-center">
          <h1>予約リクエスト管理</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <!-- <ngb-tabset [justify]="'center'" type="pills" class="nav-pills-primary">
          <ngb-tab title="予約調整中">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                  <h2 class="title">予約リクエスト</h2>
                  <div *ngIf="payments && payments.length > 0">
                    <h5 class="description">生徒から予約リクエストが来ています！「引き受ける」ボタンで予約を確定させてください.</h5>
                    <div class="space-top"></div>
                    <app-rental-incoming-list [payments]="payments"></app-rental-incoming-list>
                  </div>

                  <div  *ngIf="!payments || payments.length==0">
                    <h5 class="description">生徒から予約リクエストはありません.</h5>
                    <div class="space-top"></div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="期限切れ">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                  <h2 class="title">期限切れ</h2>
                  <h5 class="description">確定前に期限切れになった予約リクエストです.</h5>
                  <div class="space-top"></div>
                  <div *ngIf="payments && payments.length > 0">
                    <app-rental-incoming-list [filterExpired]="true" [payments]="payments"></app-rental-incoming-list>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset> -->
      </div>
    </div>
  </div>
</section>
