<div class="wrapper">
  <div
    class="page-header page-header-xs settings-background"
    style="background-image: url('./assets/img/lp/back-image.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-50"></div>
        <div class="logo">
          <img src="assets/img/logo/logo-w-wh.svg" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="features-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">理念</h2>
            <h5 class="description">
              努力する「個人」や「企業」が最高に輝けるバックステージを創り届ける.
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">About us</h2>
            <h5 class="description">
              誰しもが自分の人生の「主人公・ヒロイン」でありたい.<br />
              努力する個人・企業が最高に輝ける環境を私たちは全力で提供しています.
            </h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 ml-auto">
            <div class="iphone-container">
              <img src="assets/img/aboutus/backstage.png" />
            </div>
          </div>
          <div class="col-md-6 mr-auto">
            <div class="info info-horizontal">
              <h3 class="info-title">世界観</h3>
              <br />
              <div class="description">
                <p>Aeru.me（アエルミー）の由来は「色々な自分と会える」</p>
                <p>
                  個人の個性を提供したい人は勿論、様々な個性を提供する企業様が輝けるSaaSを提供するのも私たちの役割です.
                </p>
                <p>
                  より多くの人が自分らしく輝けるステージをPaaS及びSaaSで提供し、個が自分を封じ込めることなく輝ける空間を創り広げていきたいと思っています.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 ml-auto">
            <div class="info info-horizontal">
              <h3 class="info-title">グローバルなチーム体制</h3>
              <br />
              <div class="description">
                <p>
                  Aeru.meプラットフォームはインド・ベトナムの開発パートナーを中心にサービス開発を行なっています。
                </p>
                <p>
                  他にもルーマニアのデザインパートナー、スロバキアの技術顧問といった強力な事業パートナーの協力を得ながら商品力のあるサービス提供を行っています。
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
            <div class="iphone-container">
              <img src="assets/img/aboutus/engineers.png" />
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 ml-auto">
            <div class="info info-horizontal">
              <h3 class="info-title">代表取締役 浜田 篤</h3>
              <br />
              <div class="description">
                <p>
                  もともとは車が好きで本田技研工業入社。車のセンサー周りの研究開発を行った後、Apple,
                  Googleとの共同研究の為シリコンバレーに駐在。文化の違いに衝撃を受ける。
                </p>
                <p>
                  帰国後、教育ITベンチャーに転職しCTOとしての実務経験を詰み、大企業とベンチャーの違いやITアウトソーシングのノウハウを蓄えた後、独立。
                </p>
                <p>
                  独立後はアウトソーシングのノウハウを活かしインドの開発パートナーとアライアンスを結び、toB向け受託開発を中心に行うようになる。
                </p>
                <p>
                  受託ならではの利益率の低さに頭を抱えていたところ、様々な中小企業経営者と接する過程でエンジニアのマネジメントや評価、組織設計、ITシステムの事業計画の作り方、といったノウハウに需要があると気づき、経営者、経営陣向けにITコンサルティングを行うようになり、約一年半の時を経てAeru.me
                  SaaSローンチに至る。
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
            <div class="iphone-container">
              <img src="assets/img/aboutus/hamada.png" />
            </div>
          </div>
        </div> -->
      </div>

      <div class="container">
        <div class="space-70"></div>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Company profile</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="table-responsive">
              <table class="table table-hover table-shopping">
                <tbody>
                  <tr>
                    <td class="text-center">商号</td>
                    <td>Aeru.me株式会社</td>
                  </tr>
                  <tr>
                    <td class="text-center">資本金</td>
                    <td>1,000千円</td>
                  </tr>
                  <tr>
                    <td class="text-center">設立</td>
                    <td>2019年8月</td>
                  </tr>
                  <tr>
                    <td class="text-center">本社</td>
                    <td>東京都新宿区新宿６−２０−５−９０２</td>
                  </tr>
                  <tr>
                    <td class="text-center">代表取締役</td>
                    <td>浜田 篤</td>
                  </tr>
                  <tr>
                    <td class="text-center">事業内容</td>
                    <td>
                      経営層向けITコンサルティング支援<br />
                      バックオフィス業務の自動化支援<br />
                      Web予約プラットフォームの導入支援
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">決算</td>
                    <td>6月末</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="space-top"></div>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <a
              [routerLink]="['/saas']"
              class="btn btn-primary btn-round btn-lg"
            >
              法人向け商品はこちら
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
