.phone-top {
  // margin: 0 auto;
  img {
    margin-top: 15px;
    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
}

.title-top {
  margin-top: 160px;
}

.card-subtitle {
  margin-top: 10px;
  margin-bottom: -10px;
}

.card-image {
  img {
    max-height: 15rem;
  }
}

.card-image2 {
  img {
    max-height: 20rem;
  }
}

.card-results {
  img {
    margin-top: 15px;
    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
}

.container-fluid .title {
  margin-top: 60px;
}
