<footer class="footer footer-big">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-5 ml-auto mr-auto">
        <div class="links">
          <!-- <div class="space-top"></div> -->
          <div class="row">
            <div class="col-xl-4 col-6">
              <div class="links">
                <ul class="uppercase-links stacked-links">
                  <li>
                    <a [routerLink]="['/saas']"> 法人向の商品 </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-6">
              <div class="links">
                <!-- <ul class="uppercase-links stacked-links">
                  <li>
                    <a [routerLink]="['/subscription/it-consulting']">
                      IT-Zoomクラス
                    </a>
                  </li>
                </ul> -->
              </div>
            </div>
            <div class="col-xl-4 col-6">
              <div class="links">
                <ul class="uppercase-links stacked-links">
                  <li>
                    <a [routerLink]="['/form/contactus']"> お問い合わせ </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-6">
              <div class="links">
                <ul class="uppercase-links stacked-links">
                  <li>
                    <a [routerLink]="['/aboutus']"> 会社概要 </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <hr />
          <div class="copyright">
            <!-- <div class="pull-left">
                            © {{data | date: 'yyyy'}}, Aeru.me
                        </div> -->
            <div class="pull-right">
              <ul>
                <li>
                  <a [routerLink]="['/terms']"> 利用規約 </a>
                </li>
                |
                <li>
                  <a [routerLink]="['/privacy']"> プライバシー </a>
                </li>
                |
                <li>
                  <a href="https://amzn.asia/5hkIiZb" target="_blank">
                    活動を応援する
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 ml-auto mr-auto">
        <div class="logo-footer">
          <a routerLink="/">
            <img src="assets/img/logo/logo.svg" alt="..." />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
