<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('./assets/img/lp/back-image.jpg')"
  >
    <div class="filter"></div>
    <div class="text-center">
      <div *ngIf="innerWidth > 768" class="space-110"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto">
            <h1 class="title title-top">少し憧れだったあの人に会おう</h1>
            <h5 class="description">
              臆せず会いたい人と会えるプラットフォーム
            </h5>
            <br />
            <a class="btn btn-lg btn-primary" [routerLink]="['/rentals']">
              <i class="fa fa-search"></i> さっそく探しに行く
            </a>
          </div>
          <div class="col-md-5">
            <div class="phone-top">
              <img src="./assets/img/lp/phone-top.png" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    WHO ARE USING THIS SERVICE?     *********      -->
  <div class="team-3 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">こんな人が使っています</h2>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="info">
            <div class="phone-top">
              <img src="./assets/img/lp/phone-top.png" alt="..." />
            </div>
            <div class="description">
              <p>カラオケトレーナー</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="info">
            <div class="phone-top">
              <img src="./assets/img/lp/phone-top.png" alt="..." />
            </div>
            <div class="description">
              <p>ファッショントレーナー</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="info">
            <div class="phone-top">
              <img src="./assets/img/lp/phone-top.png" alt="..." />
            </div>
            <div class="description">
              <p>お菓子作りトレーナー</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    APPEAL POINT     *********      -->
  <div class="project-4 section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <h2 class="title">かんたん！綺麗！自分を売れる！</h2>
          <!-- <h5 class="description">かんたん！綺麗！自分を売れる！</h5> -->
        </div>
      </div>
      <div class="space-top"></div>
      <div class="row">
        <div class="col-md-4 ml-auto">
          <div class="phone-top">
            <img src="./assets/img/lp/phone-training.png" alt="..." />
          </div>
        </div>

        <div class="col-md-5 mr-auto">
          <div class="card card-plain">
            <div class="card-body">
              <h6 class="card-category">Technology</h6>
              <a href="javascript:void(0)">
                <h3 class="card-title">かんたん！綺麗！</h3>
              </a>
              <p class="card-description">
                オシャレな貴方だけのショーケースが持てるのはもちろんのこと、
                ちょっと憧れだった貴方に会いたかった人が、
                貴方のサービスに対価を払う事で億劫せず会えるようになります。
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="row">
        <div class="col-md-5 ml-auto">
          <div class="card card-plain">
            <div class="card-body">
              <h6 class="card-category">Design</h6>
              <a href="javascript:void(0)">
                <h3 class="card-title">安心双方レビュー！</h3>
              </a>
              <p class="card-description">
                利用者がサービス提供者の評価を見て安心して利用できるのはもちろん、
                サービス提供者側も安心してレビューができるよう、利用者側のレビューは見れない仕様です。
                システムが利用者の平均評価が著しく悪いと判断した場合、サービスが利用ができなくなります。
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-5 mr-auto">
          <div class="card-image text-center">
            <a href="javascript:void(0)">
              <img
                src="assets/img/lp/review.png"
                alt="Rounded Image"
                class="img-rounded img-responsive"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    USERS VOICE     *********      -->
  <div class="testimonials-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">ユーザーの感想</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto">
          <div class="card" data-background="color" data-color="orange">
            <div class="card-body">
              <div class="author">
                <a href="javascript:void(0)">
                  <img
                    src="./assets/img/faces/joe-gardner-2.jpg"
                    alt="..."
                    class="avatar img-raised"
                  />
                  <span>Erik Johnson</span>
                </a>
              </div>
              <span class="category-social pull-right">
                <i class="fa fa-quote-right"></i>
              </span>
              <div class="clearfix"></div>
              <p class="card-description">
                "このサービスを利用してみて本当に簡単にオフィシャルサイトが作れました！そして、わからない事は丁寧にサポートして教えてくれます。😊ヨガインストラクターとして活動を始めるにあたり、アエルミーと出会ったおかげで自分の新しい挑戦がとても簡単にそしてスムーズに始める事ができました。とても感謝しています。ありがとうございます。"
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" data-background="color" data-color="green">
            <div class="card-body">
              <div class="author">
                <a href="javascript:void(0)">
                  <img
                    src="./assets/img/faces/erik-lucatero-2.jpg"
                    alt="..."
                    class="avatar img-raised"
                  />
                  <span>Erik Johnson</span>
                </a>
              </div>
              <span class="category-social pull-right">
                <i class="fa fa-quote-right"></i>
              </span>
              <div class="clearfix"></div>
              <p class="card-description">
                "このサービスとの出会いは今年の9月。インスタの使い方が今ひとつで、既存のHP、ブログからの反応も勢いがなかった頃に、スマホで見やすいサイトで興味を持ちました。今ではご予約が2倍近くに！同じサービスをしていても見せ方でこんなに違うなんて、私1人では到底無理でした。今でもわからないことはすぐに聞いて、レスポンスがとても早くてとても心強いです‼️いつもありがとうございます😆"
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
                    <div class="col-md-5 ml-auto">
                        <div class="card" data-background="color" data-color="blue">
                            <div class="card-body">
                                <div class="author">
                                    <a href="javascript:void(0)">
                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="..." class="avatar img-raised">
                                        <span>Erik Johnson</span>
                                    </a>
                                </div>
                                <span class="category-social pull-right">
                                    <i class="fa fa-quote-right"></i>
                                </span>
                                <div class="clearfix"></div>
                                <p class="card-description">
                                    "Machine learning for motion recognition and trajectory generation of human movement for rehabilitation with non-essentials. Back to purity, back to simplicity. At best, it is self-explanatory."
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mr-auto">
                        <div class="card" data-background="color" data-color="purple">
                        <div class="card-body">
                            <div class="author">
                                <a href="javascript:void(0)">
                                    <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                                    <span>Erik Johnson</span>
                                </a>
                            </div>
                            <span class="category-social pull-right">
                                <i class="fa fa-quote-right"></i>
                            </span>
                            <div class="clearfix"></div>
                            <p class="card-description">
                                "Less, but better – because it concentrates on the essential aspects, and the products are not burdened with non-essentials. Back to purity, back to simplicity. At best, it is self-explanatory. The entire AI Grant project reminds me of a cross between a Thiel Fellowship and a Kaggle competition."
                            </p>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
  </div>

  <!--     *********    PRICING     *********      -->
  <div class="pricing-5 section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="title text-center">無料からサービス開始できます</h2>
          <br />
          <p class="description text-gray">
            あらゆるサービスを自分の好きな価格で出品できます。歌、ダンス、ヨガのコースなどをそれぞれ別々に出品も可能です。
          </p>
          <br />
        </div>
        <div class="col-md-8">
          <div class="choose-plan">
            <!-- <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper"> -->
            <!-- <ngb-tabset type="pills" [justify]="'center'" class="nav-pills-primary justify-content-center">
              <ngb-tab title="個人の方">
                <ng-template ngbTabContent>
                  <div class="space-top"></div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card card-pricing">
                        <div class="card-body">
                          <h6 class="card-category text-primary">
                            サイト掲載料
                          </h6>
                          <h1 class="card-title">無料〜</h1>
                          <ul>
                            <li><b>1</b> Developer</li>
                            <li><b>99+</b> Components</li>
                            <li><b>HTML</b> Elements</li>
                            <li><b>14</b> Page Examples</li>
                          </ul>
                          <a [routerLink]="['/register']" class="btn btn-primary btn-round">自分を出品する</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card card-pricing" data-color="orange">
                        <div class="card-body">
                          <h6 class="card-category text-success">決済手数料</h6>
                          <h1 class="card-title">10%</h1>
                          <ul>
                            <li><b>5</b> Developer</li>
                            <li><b>129+</b> Components</li>
                            <li><b>HTML</b> Elements</li>
                            <li><b>24</b> Page Examples</li>
                          </ul>
                          <a [routerLink]="['/register']" class="btn btn-neutral btn-round">自分を出品する</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="法人の方">
                <ng-template ngbTabContent>
                  <div class="space-top"></div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card card-pricing">
                        <div class="card-body">
                          <h6 class="card-category text-info">
                            OEMリース利用料
                          </h6>
                          <h1 class="card-title">ASK~</h1>
                          <ul>
                            <li><b>5+</b> Developers</li>
                            <li><b>199+</b> Components</li>
                            <li><b>HTML</b> Elements</li>
                            <li><b>34</b> Page Examples</li>
                          </ul>
                          <a [routerLink]="['/form/contactus']" class="btn btn-info btn-round">問い合わせする</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card card-pricing" data-color="orange">
                        <div class="card-body">
                          <h6 class="card-category text-success">
                            決済システム利用料
                          </h6>
                          <h1 class="card-title">ASK~</h1>
                          <ul>
                            <li><b>15</b> Developer</li>
                            <li><b>229+</b> Components</li>
                            <li><b>HTML</b> Elements</li>
                            <li><b>44</b> Page Examples</li>
                          </ul>
                          <a [routerLink]="['/form/contactus']" class="btn btn-neutral btn-round">問い合わせする</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset> -->
            <!-- </div>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    CALL TO ACTION     *********      -->
  <div class="section section-icons">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="icons-nucleo">
            <i class="first-left-icon nc-icon nc-planet add-animation"></i>
            <i class="second-left-icon nc-icon nc-touch-id add-animation"></i>
            <i
              class="third-left-icon nc-icon nc-lock-circle-open add-animation"
            ></i>
            <i class="fourth-left-icon nc-icon nc-tap-01 add-animation"></i>
            <i class="fifth-left-icon nc-icon nc-zoom-split add-animation"></i>
            <i class="sixth-left-icon nc-icon nc-atom add-animation"></i>
            <i
              class="seventh-left-icon nc-icon nc-favourite-28 add-animation"
            ></i>
            <i class="eighth-left-icon nc-icon nc-settings add-animation"></i>
            <i class="ninth-left-icon nc-icon nc-bulb-63 add-animation"></i>
            <i class="tenth-left-icon nc-icon nc-circle-10 add-animation"></i>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <h2 class="title revealOnScroll">あなたもはじめよう</h2>
          <br />
          <a [routerLink]="['/rentals']" class="btn btn-primary btn-lg">
            <i class="fa fa-search"></i> トレーナーを見に行く！
          </a>
          <br />
          <br />
          <a [routerLink]="['/register']" class="btn btn-primary btn-lg">
            <i class="fa fa-search"></i> トレーナーになる！
          </a>
          <br />
          <br />
          <a
            [routerLink]="['/form/contactus']"
            class="btn btn-primary btn-link btn-lg"
          >
            法人の方はこちら
          </a>
        </div>
        <div class="col-md-3">
          <div class="icons-nucleo">
            <i class="first-right-icon nc-icon nc-bank add-animation"></i>
            <i
              class="second-right-icon nc-icon nc-tag-content add-animation"
            ></i>
            <i class="third-right-icon nc-icon nc-bell-55 add-animation"></i>
            <i class="fourth-right-icon nc-icon nc-tv-2 add-animation"></i>
            <i class="fifth-right-icon nc-icon nc-map-big add-animation"></i>
            <i class="sixth-right-icon nc-icon nc-badge add-animation"></i>
            <i
              class="seventh-right-icon nc-icon nc-simple-add add-animation"
            ></i>
            <i class="eighth-right-icon nc-icon nc-trophy add-animation"></i>
            <i class="ninth-right-icon nc-icon nc-hat-3 add-animation"></i>
            <i class="tenth-right-icon nc-icon nc-key-25 add-animation"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
